* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(153deg, rgba(55, 55, 55, 1) 0%, rgba(20, 20, 20, 1) 52%, rgba(34, 34, 34, 1) 91%) no-repeat center center fixed;
}

.container {
    width: 100%;
    height: 250vh;
    box-sizing: border-box;
}

.introduction {
    margin: auto;
    display: flex;
    background: url("./images/bgCode.jpg") no-repeat center center fixed;
    width: 100%;
    height: 100vh;
    box-shadow: 1px 5px 5px #1c1c1c;
}

.introduction a {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50vh;
    margin-left: 8rem;
    margin-top: 12rem;
    color: #e5e5e5;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
}

.card h1 {
    text-align: center;
    text-shadow: 1px 4px 1px #1c1c1c;
    font-size: 35px;
}

.card h2 {
    font-size: 25px;
    text-shadow: 1px 3px 1px #1c1c1c;
    text-align: center;
    font-weight: 800;
}

#foto {
    margin: auto;
    margin-bottom: 2rem;
    box-shadow: 1px 5px 10px #212121;
    height: 12rem;
    width: 12rem;
    border-radius: 100px;
}

#github {
    margin: auto;
    margin-top: 1.5rem;
    height: 3rem;
    width: 3rem;
    transition: 0.5s;
    cursor: pointer;
}

#github:hover {
    transition: 0.5s;
    height: 4rem;
    width: 4rem;
}

#html-icon {
    height: 7rem;
    width: 7rem;
}

#css-icon {
    height: 7rem;
    width: 7rem;
}

#js-icon {
    height: 7rem;
    width: 7rem;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50rem;
    margin: auto;
    margin-top: 8rem;
    color: #eee;
}

.skills h1 {
    font-size: 50px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    color: #e5e5e5;
    height: 6rem;
    text-align: center;
}

.skills p {
    letter-spacing: 2px;
}

#html-skill {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    gap: 10px;
}

#css-skill {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    gap: 10px;
}

#js-skill {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
    gap: 10px;
}

.projetos h1 {
    text-align: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-size: 3.5rem;
    color: #eee;
}

.demo {
    display: flex;
    width: 100%;
    height: 80vh;
    margin-top: 2%;
    justify-content: space-around;
}

.project {
    width: 25%;
    height: 50vh;
    flex-wrap: wrap;
    margin-top: 3%;
    border-radius: 3%;
    background: linear-gradient(145deg, #191919, #1e1e1e);
    box-shadow: 18px 18px 3px #191919,
        -18px -18px 3px #1f1f1f;
}

.img-demo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    height: 18rem;
    width: 80%;
    border-radius: 2%
}

.img-demo p {
    margin: auto;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 2.5rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
    width: 50%;
    margin: auto;
    margin-top: 6%;
    border-radius: 2%;
    border-style: solid;
    border-color: #000;
    transition: 0.5s;
}

.contact h1 {
    color: #e5e5e5;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 3px;
    padding: 32px;
}

.contact:hover {
    background-color: #000;
    transition: 0.5s;
}

a:link {
    text-decoration: none;
}



@media (max-width: 900px) {
    .card {
        width: 100%;
        height: 100vh;
        margin: auto;
    }

    .card h1 {
        font-size: 1.5rem;
        text-shadow: 1px 2.5px 1px #1c1c1c;
    }

    .card h2 {
        font-size: 1.2rem;
        text-shadow: 1px 2px 1px #1c1c1c;
    }

    #foto {
        margin: auto;
        margin-bottom: 2rem;
        box-shadow: 5px 5px 5px #212121;
        height: 10rem;
        width: 10rem;
    }

    #github {
        height: 2rem;
        width: 2rem;
    }

    .contact {
        width: 50%;
        height: 12vh;
        background-color: #000;
    }

    .skills {
        width: 90%;
        margin-top: 3rem;
        height:100vh;
        padding-bottom: 3%;
        gap:50px;
    }

    .skills h1 {
        font-size: 2.5rem;
    }

    .skills p {
        text-align: center;
        font-size: 1rem;
    }

    #html-skill {
        display: flex;
        margin-top: 1.2rem;
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
        padding: 0;
        gap: 10px;
    }

    #html-icon {
        width: 4rem;
        height: 4rem;
    }

    #css-skill {
        display: flex;
        margin-top: 1.2rem;
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
        padding: 0;
        gap: 10px;
    }

    #css-icon {
        width: 4rem;
        height: 4rem;
    }

    #js-skill {
        display: flex;
        margin-top: 1.2rem;
        flex-direction: column;
        width: 100%;
        font-size: 1rem;
        padding: 0;
        gap: 10px;
    }

    #js-icon {
        width: 4rem;
        height: 4rem;
    }

    .projetos h1 {
        font-size: 2.5rem;
    }

    .demo {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 150vh;
        margin-top: 6%;
        gap: 50px;
    }

    .project {
        width: 65%;
        height: 35vh;
        margin-bottom: 6%;
        margin-top:6%;
    }

    .img-demo {
        display: flex;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 10%;
        height: 10rem;
        width: 80%;
        border-radius: 2%
    }

    .img-demo p {
        font-size: 1.8rem;
    }

}
